#draggableArea {
  width: 100%;
  height: 480px;
  border: solid 1px #000;
}

#draggable {
  width: 10%;
  height: 10%;
}

.uni {

}

/* 9月15日追加 */
body {
	background: #222;
}
.zone {
	height: 410px;
	width: 410px;
	background: #111;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
}
.zone-inner {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
}
.widget {
	position: absolute;
	width: 100px;
	height: 100px;
	cursor: grab;
	background: transparent;
	border-radius: 5px;
	transition: 0.1s;
}
.widget-inner {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background: #7fb2ff;
	border-radius: 5px;
}
.wig-txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.collision {
	background: #ff7575;
}
#wig_1 {
	top: 0;
	left: 0;
}
#wig_2 {
	top: 0px;
	right: 0px;
}
#wig_3 {
	bottom: 0px;
	left: 0px;
	height: 200px;
	width: 200px;
}
#wig_4 {
	bottom: 0px;
	right: 0px;
	height: 200px;
	width: 200px;
}



/* IGNORE */
.profile-contain {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 20px;
	transition: 0.5s;
}

#more-btn {
  border: 1px solid #7fb2ff;
  background-color: #7fb2ff;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  color: #2f5691;
  display: inline;
  outline: none;
  box-shadow: 5px 5px #111;
  margin-right: 5px;
}
#more-btn:hover {
  cursor: pointer;
  background-color: #6f9de2;
  border: 1px solid #6f9de2;
  color: #2f5691;
	box-shadow: 3px 3px #111;
	transition: 0.5s;
}
.profile {
  color: #444;
  display: inline;
  font-weight: bold;
  font-size: 19px;
	margin-left: 10px;
}
.profile:hover {
  cursor: pointer;
  color: #333;
}
/* 9月15日追加 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
  }
  a {
    text-decoration: none;
  }
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  header, nav, h2, .main-visual, footer {
    font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
  }
  /* common */

  /* header */

  header {
    position: relative;
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
  }
  header .headline{
    font-size: 32px;
  }
  .social {
    position: absolute;
    top: 22px;
    right: 22px;
  }
  .social i {
    display: inline-block;
    margin-left: 20px;
  }
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  /* header */

  /*main-visual*/
  *
  .main-visual {
    width: 100%;
    height: 300px;
    background-image: image-url('../images/mv.jpg');
    background-size: cover;
    background-position: center;
  }
  .main-visual-content {
    width: 40%;
    height: 300px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 105px;
  }
  .main-visual-text {
    color: #fff;
  }
  .main-visual-name {
    color: #fff;
    margin-top: 30px;
  }
  /*main-visual*/

  /*main common*/

  *
  main {
    width: 800px;
    margin: 0 auto;
    padding: 70px 0;
  }
  *main common*/

  /*blogs*/
  *
  .blog {
    width: 540px;
    float: left;
    margin-right: 30px;
  }
  .blog-headline {
    border-bottom: 8px solid #f7f7f7;
    text-align: center;
    line-height: 0.6;
  }
  .blog-box {
    padding-top: 50px;
  }
  .blog-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
  }
  .blog-image {
    float: left;
    width: 276.92px;
    background-position: center;
    background-size: cover;
    height: 180px;
  }
  .blog-text-headline {
    padding-bottom: 15px;
  }
  .blog-text {
    float: left;
    padding: 30px 0 0 25px;
    width: calc(100% - 277px);
  }
  .blog-date {
    display: inline-block;
    font-size: 12px;
  }
  .category {
    display: inline-block;
    padding: 5px 8px;
    background-color: #acabab;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
  }
  .pagination {
    text-align: center;
    padding-top: 50px;
  }
  .pagination p {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    color: #fff;
    background-color: #acabab;
    border-radius: 3px;
    line-height: 30px;
  }
  /*blogs*/

  /*sidebar*/

  *
  .sidebar {
    width: 230px;
    float: left;
  }
  .sidebar-headline, .instagram-headline, .categories-headline {
    border-bottom: 8px solid #f7f7f7;
    text-align: center;
    line-height: 0.6;
  }
  .sidebar-contents {
    padding: 50px 0;
  }
  .popular-text, .categories-text {
    padding-bottom: 5px;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 5px;
  }
  .popular-text:last-child, .categories-text:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
  .instagram-box {
    float: left;
    width: 110px;
    padding-top: 110px;
    background-size: cover;
    background-position: center;
  }
  .instagram-box:nth-child(odd) {
    margin: 0 10px 10px 0;
  }
  .instagram-box:nth-child(1) {
    background-image: url(../images/airport.jpg);
  }
  .instagram-box:nth-child(2) {
    background-image: url(../images/japan.jpg);
  }
  .instagram-box:nth-child(3) {
    background-image: url(../images/snow.jpg);
  }
  .instagram-box:nth-child(4) {
    background-image: url(../images/japan2.jpg);
  }
  .instagram-box:nth-child(5) {
    background-image: url(../images/lake.jpg);
  }
  .instagram-box:nth-child(6) {
    background-image: url(../images/road.jpg);
  }
  /*sidebar*/

  /*footer*/

  footer {
    text-align: center;
    padding: 50px 0;
    background-color: #848282;
  }
  .footer-text {
    color: #fff;
  }
  /*footer*/

  /*---show.html.erb---*/

  .single-blog {
    float: left;
    width: 520px;
    margin-right: 50px;
  }
  .blog-box-content {
    margin: 15px 5px 20px 0;
  }
  .single-image {
    width: 100%;
  }
  .single-text {
    margin: 15px 5px 20px 0;
    font-size: 15px;
  }
  .author-case {
    margin-top: 30px;
    border-top: 1px solid #f7f7f7;
    padding: 30px 10px;
  }
  .author-image {
    width: 110px;
    height: 110px;
    background-image: url(../images/person.jpg);
    background-position: center;
    background-size: cover;
    float: left;
  }
  .author-box {
    width: calc(100% - 110px);
    float: left;
    padding: 0 0 0 20px;
  }
  .author-name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .author-text {
    font-size: 10px;
  }

  /*---show.html.erb---*/

/*新規投稿*/
.size {
   color:#1da1f2;
}