<table>
    <thead>
        <tr align="center">
            <th width="40%">ホーム</th>
            <th width="20%">日時<br/>(日本時間)</th>
            <th width="40%">アウェイ</th>
        </tr>
    </thead>
    <tbody id="matches-tbl">
    </tbody>
</table>

